@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Nunito|Odibee+Sans&display=swap');

* {
  box-sizing: border-box;
}

body,html {
  font-family: 'Nunito', sans-serif;
  color: #dda51e;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

p {
  margin: 5px;
  min-height: 1px;
  max-height: 999999;
  line-height: 30px;
}
p::selection, li::selection, span::selection {
  background: #fff;
  color: #140000;
}
header {
  margin: 1em auto auto 1em;
  position: fixed;
  z-index: 99;
}

.menunav {
  position: relative;
  width: 5rem;
  line-height: 2rem;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;

}
.navlist {
  list-style-type: none;
  position: absolute;
  width: 60px;
  top: 50%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: none;
  color: #fff;
  background: rgba(0,0,0,0.5);
  border-radius: 0 0 50px 50px/0 0 50px 50px;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease;
}
.navlist li {
  position: relative;
  width: 100%;
  margin: 1rem auto;
  cursor: pointer;
}
.navlist li:first-child {
  margin-top: 3rem;
}
.navlist li:last-child {
  margin-bottom: 2rem;
}
.navlist li a {
  display: inline-block;
  width: 100%;
}
.navlist li:hover > a {
  color: #dda51e;
  border-right: 2px solid #dda51e;
}
.navlist li:hover > span {
  color: #dda51e;
}
.navlist span {
  position: absolute;
  left: calc(100% + 10px);
  font-family: 'Odibee Sans', cursive;
}

#toggle {
  background-color: rgba(255,255,255,0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  z-index: 999;
  transition: background-color 300ms ease;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
#toggle:focus {
  outline: none;
  cursor: pointer;
}
.change {
  background-color: #fff!important;
}
.one, .two, .three {
  width: 25px;
  height: 4px;
  margin: 3px auto;
  background: #fff;
  position: relative;
  border-radius: 10px;
  transition: transform 300ms ease , background-color 300ms ease;

}
.change .one {
  transform: rotate(45deg) translate(5px,5px);
  background-color: #000;
}
.change .two {
  transform: scale(0);
}
.change .three {
  transform: rotate(-45deg) translate(5px,-5px);
  background-color: #000;
}
.home {
  position: relative;
  background: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  max-height: calc(100vh + 100vw);

}
.img {
  width: 150px;
  height: 150px;
  margin: 1em;
  border-radius: 50%;
  transition: border-color 300ms ease;
  border: 3px solid rgba(255,255,255,0.2);
  overflow: hidden;
  position: relative;

}
.img img {
  position: relative;
  width: 200%;
  top: -20%;
  left: -60%;

}
.img:hover {
  border-color: #dda51e;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
}
.profile p {
  max-width: 450px;
  margin: auto 1rem;
}
.links {
  margin: 1em;
  flex-basis: 100%;
  width: 100%;
  text-align: center;
}
.links a {
  padding: 0.5rem 1.3rem;
  border: 2px solid;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.4rem;
  margin: 1rem;
  border-radius: 50px;
  transition-duration: 0.4s;
}

.active {
  color: #dda51e;
  border-color: #dda51e;
  background-color: #fff;

}
.unactive {
  color: #fff;
  border-color: #fff;
  background-color: #dda51e;
}
.active:hover {
  color: #fff;
  border-color: #fff;
  background-color: #dda51e;
}
.unactive:hover {
  color: #dda51e;
  border-color: #dda51e;
  background-color: #fff;
}
h1 {
  font-size: 3.5rem;
  font-family: 'Odibee Sans', cursive;
  text-transform: uppercase;
  color: #fff;
  margin: 1rem;
}
h1 > span {
  color: #dda51e;
}
.head {
  min-width: 100%;
  text-align: center;
  color: #fff;
}
.abthd {
  position: relative;
}
.dash {
  width: 24px;
  height: 2px;
  background: #dda51e;
  display: inline-block;
  position: relative;

}
.dash:first-child {
  left: 0;
  top: -4px;
}
.dash:last-child {
  right: 0;
  top: -4px;

}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-img {
  max-width: min-content;
  max-height: min-content;
  border: 4px solid #dda51e;
  margin: 1em;
  text-align: center;
}
.main-img img {
  max-width: 75vw;
  width: 400px;
  min-width: 200px;
  transform: translate(-10px,-10px);
  transition: transform 300ms ease;
  height: 100%;
}
.main-img img:hover {
  transform: translate(0,0);
}

.about {
  max-height: 999999px;
}
.p-info {

  margin: 0;
  padding: 0;
}
.p-info ul {
  list-style: none;
  text-align: left;
  color: #fff;
  line-height: 50px;
  padding: 0;
  margin: 15px;
}
.p-info ul li {
  margin: 0;
  padding: 0;
  white-space: nowrap;

}
.p-info ul span {
  color: #bbb;
  margin-right: 1em;
}
.hr {
  height: 0.6px;
  background: #bbb;
  margin: 1em;
  border: none;
}
.prof-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  color: #fff;
}
.prof-info h3 {
  color: #aaa;
}
.experience {
  padding-left: 25px;
  position: relative
}
.experience::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 15px;
  border-radius: 50px;
  background-color: #dda51e;
}
.h2 {
  font-family: 'Odibee Sans', cursive;
}
.webdev {
  position: relative;
  margin: 10px;
}
.webdev p, .webdev h3 {
  margin-left: 15px;
  transition: transform 200ms ease;
}
.webdev p:hover {
  transform: translate(5px,0);
}
.webdev::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 5px;
  left: -24.5px;
  border-radius: 50%;
  background-color: #dda51e;
}
.skills {
  padding: 1em;
}
.lang {
  color: #fff;
  font-family: 'Odibee Sans', cursive;
  width: 80vw;
  max-width: 300px;
  min-width: 150px;

}

.lang h3 {
  margin-left: 10px;
}
.progress {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #555;
  position: relative;

}
.progress::after {
  content: " ";
  top: 0;
  position: absolute;
  height: 100%;
  background-color: #dda51e;
  border-right: 2px solid #aa500a;
}
.html .progress::after {
  width: 80%;
}
.css .progress::after {
  width: 95%;
}
.js .progress::after {
  width: 40%;
}

.jquery .progress::after {
  width: 25%;
}
.sass .progress::after {
  width: 47%;
}
.php .progress::after {
  width: 60%;
}
.creations h1 {
  color: #fff;
}
.creations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;

}
.project {
  padding: 0;
  width: 300px;
  display: inline-block;
  margin: 0.5em;

}
.project img {
  width: 100%;
  border: 2px solid #dda51e;

}
.project p {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Odibee Sans', cursive;
}

footer {
  width: 100%;
  text-align: center;
}

#social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
#social li {
  position: relative;
  display: block;
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  transition: .5s;
  position: relative;

}
#social li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#social li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
#social li a {
  color: inherit;
}
#social li:nth-child(1) {
  color: #3b5998;
  background-color: #000;
}
#social li:nth-child(3) {
  color: #6e5494;
  background-color: #000;
}
#social li:nth-child(2) {
  color: #c4302b;
  background-color: #000;
}
#social li:nth-child(4) {
  color: #dd4b39;
  background-color: #000;
}
#social li:nth-child(1):hover {
  background: #3b5998;
  color: #000;
  box-shadow:
  0 0 12px 6px #3b5998;
}
#social li:nth-child(3):hover {
  background: #6e5494;
  color: #000;
  box-shadow:
  0 0 12px 6px #6e5494;
}
#social li:nth-child(2):hover {
  background: #c4302b;
  color: #000;
  box-shadow:
  0 0 12px 6px #c4302b;
}
#social li:nth-child(4):hover {
  background: #dd4b39;
  color: #000;
  box-shadow:
  0 0 12px 6px #dd4b39;
}

.designation {
  margin: 20px 0 0 0;
  text-align: center;
  width: 100%;
  color: #fff;
  border-top: 1px solid #dda51e;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (min-width: 600px) {
  .main-img img {
    max-width: 400px;
  }

}